<!-- <div class="container"> -->
<div class="jumbotron text-center" style="background: yellow">
        <h1 style="font-family: fantasy">Today's News</h1>
        
</div>

<nav class="navbar navbar-expand-sm" style="background:tomato">
    <a class="navbar-brand btn btn-outline-dark" routerLink="/">News</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link btn-lg btn-outline-warning " routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-lg btn-outline-warning" routerLink="/health">health</a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn-lg btn-outline-warning" routerLink="/business">business</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link btn-lg btn-outline-warning" routerLink="/science">science</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link btn-lg btn-outline-warning" routerLink="/technology">Technology</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link btn-lg btn-outline-warning" routerLink="/sports">sports</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link btn-lg btn-outline-warning" routerLink="/entertainment">entertainment</a>
            </li>


        </ul>
        
    </div>
</nav>
<!-- </div> -->
