#fname{
    margin-left:0%;
}
#lname{
display: inline-block;
margin-left:90px;
}
#st{
    margin-left: 135px;
}
#country{
    margin-left: 166px;
    margin-top: -20px;
}
#con{
    width: 50%;
}
#count{
    margin-left: 54px;
}