<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>mywebapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>myParam</param-name>
  <param-value>Ganesha</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>firstServlet</servlet-name>
  <servlet-class>MyFirstServlets</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>firstServlet</servlet-name>
  <url-pattern>/dateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>myServletConfig</servlet-name>
  <servlet-class>com.ustglobal.mywebapp.servlets.MyServletConfigServlet</servlet-class>
  <init-param>
 <param-name>name</param-name> 
 <param-value>Pranali</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>myServletConfig</servlet-name>
  <url-pattern>/myCofig</url-pattern>
  </servlet-mapping>
  
</web-app>